# Configurações locais / Segredos
.env
.vite
# Pastas de dependências
node_modules/
.pnpm-store/

# Pastas de build
dist/
.next/

# Variáveis de Ambiente / Segredos
.env
.env.local
.env.development.local
.env.production.local
.env.test.local